.menu-h{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 50px;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
    border-radius: 15px;
}
.home{

}
.hover:hover{
    color:  rgb(255, 0, 255);
    transition: .3s linear all;
}
.link{
    text-decoration: none;   
    color: white;
    size: 45px;
    font-family: 'Rubik', sans-serif;
}
.project{

}
.contact{

}
.main{

}
.box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 50px;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
    border-radius: 15px;
}
.text{
    color: white;
    font-family: 'Rubik', sans-serif;
}
.box:hover{
    background-image:url() ;
}