.main{
    margin: auto;
}
.menu-h{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 50px;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
    border-radius: 15px;
}
.home{

}
.hover:hover{
    color:  red;
    transition: .3s linear all;
}
.link{
    text-decoration: none;   
    color: white;
    size: 45px;
    font-family: 'Rubik', sans-serif;
}
.project{

}
.contact{

}
.main{

}
.box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 150px 250px;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    width: 30%;
    height: auto;
}
.text{
    color: white;
    font-family: 'Rubik', sans-serif;
}
.b1:hover{
    background-image:url(../img/valorant.jpeg) ;
    transition: .3s linear all;

}
.b2:hover{
    background-image: url(../img/fortnite.jpeg);
    transition: .3s linear all;

}
.b3:hover{
    background-image: url(../img/cs-go.jpeg);
    transition: .3s linear all;
}
.f-boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right:50px ;
    margin-left: 50px;
}
/* .l-box-1:visited{
    color: red;
}
.l-box-2:visited{
    color: red;
}
.l-box-3:visited{
    color: red;
} */
.line{
    border-color: rgb(120, 120, 120);
    /* position:absolute; */
    width:30%;
    top: 50%;
    margin-top: 30px;
}
